<div class="flex justify-content-center">
  <form [formGroup]="addMinistryForm" (ngSubmit)="onSubmit(addMinistryForm)">
    <p-card>
      <ng-template pTemplate="content">
        <div class="grid p-fluid">
          <div class="field col-12">
            <label for="ministryName">Ministry Name</label>
            <input
              type="text"
              pInputText
              id="ministryName"
              formControlName="ministryName"
              required
              autofocus
            />
            @if((f['ministryName'].invalid && f['ministryName'].dirty) ||
            (addMinistryForm.invalid && this.submitted() &&
            f['ministryName'].invalid)) {
            <small class="p-error"> Ministry Name is required. </small>
            }
          </div>
          <div class="field col-12">
            <label for="ministryChair">Ministry Chairperson</label>
            @if(onlyMemberChairs$ | async; as onlyMemberChairs) {
            <p-dropdown
              formControlName="ministryChair"
              name="ministryChair"
              id="ministryChair"
              inputId="ministryChair"
              [options]="onlyMemberChairs"
              optionLabel="fullName"
              optionValue="fullName"
              placeholder="Choose Chairperson"
            >
            </p-dropdown>
            }
          </div>
          <div class="field col-12">
            <div class="flex justify-content-center">
              <p-checkbox
                id="ministryIsActive"
                name="ministryIsActive"
                label="Is Active"
                formControlName="ministryIsActive"
                [binary]="true"
                inputId="binary"
              />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-around">
          <p-button
            label="Save"
            icon="pi pi-save"
            value="submit"
            type="submit"
            [text]="true"
            severity="success"
          />
          <p-button
            label="Cancel"
            icon="pi pi-times"
            [text]="true"
            severity="warning"
            (onClick)="hideDialog()"
          />
        </div>
      </ng-template>
    </p-card>
  </form>
</div>
