<p-toast></p-toast>
<app-header
  [title]="headerTitle()"
  [icon]="headerIcon()"
  [logo]="headerLogo()"
  [buttonVisible]="headerBtnVisible()"
  [buttonIcon]="headerBtnIcon()"
  [buttonLabel]="headerBtnLabel()"
  (buttonAction)="goToAddFamilyId()"
></app-header>
<app-body>
  <app-card>
    <p-card
    styleClass="border-1 border-200 border-solid"
    header="Manage Family ID's">
      <app-familyid-table
        (openEditFamilyId)="goToEditFamilyId($event)"
        (openFamilyIdDetails)="goToFamilyIdDetail($event)"
      ></app-familyid-table>
    </p-card>
  </app-card>
</app-body>

<p-confirmDialog
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptButtonStyleClass="p-button-text p-button-danger"
  defaultFocus="reject"
></p-confirmDialog>
