<p-toast />
<p-toast key="error" />
<p-toast key="addSuccess" (onClose)="hideDialog('add')" />
<p-toast key="editSuccess" (onClose)="hideDialog('edit')" />
<app-header
  [title]="headerTitle()"
  [logo]="headerLogo()"
  [icon]="headerIcon()"
></app-header>
<app-body>
  <app-card>
    <p-toolbar>
      <ng-template pTemplate="left">
        <p-button
          severity="success"
          [text]="true"
          label="Add New Ministry"
          icon="pi pi-plus"
          (onClick)="openNewMinistry()"
        />
      </ng-template>
    </p-toolbar>
    <app-ministry-table
      (openEditMinistry)="openEditMinistry($event)"
    ></app-ministry-table>
  </app-card>
</app-body>

<!-- Add Ministry Dialog -->
<p-dialog
  [(visible)]="newMinistryDialog"
  [style]="{ width: '450px' }"
  closable="false"
  closeOnEscape="false"
  header="Add Ministry"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-content>
    <app-add-ministry (closeDialog)="hideDialog($event)"></app-add-ministry>
  </ng-content>
</p-dialog>

<!-- Edit Ministry Dialog -->
<p-dialog
  [(visible)]="editMinistryDialog"
  [style]="{ width: '450px' }"
  closable="false"
  closeOnEscape="false"
  header="Edit Ministry"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-content>
    @if(editMinistryDialog() === true) {
    <app-edit-ministry
      [ministryId]="ministryIdToEdit"
      (closeDialog)="hideDialog($event)"
    ></app-edit-ministry>
    }
  </ng-content>
</p-dialog>

<!-- Delete Ministry Dialog -->
<p-confirmDialog
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptButtonStyleClass="p-button-text p-button-danger"
  defaultFocus="reject"
></p-confirmDialog>
