<p-toast />
<app-header
  [title]="headerTitle()"
  [logo]="headerLogo()"
  [icon]="headerIcon()"
  [buttonLabel]="headerBtnLabel()"
  [buttonIcon]="headerBtnIcon()"
  [buttonVisible]="headerBtnVisible()"
  (buttonAction)="goToAddMinistry()"
></app-header>
<app-body>
  <app-card>
    <p-card
      styleClass="border-1 border-200 border-solid"
      header="Manage Ministries"
    >
      <app-ministry-table
        (openEditMinistry)="goToEditMinistry($event)"
      ></app-ministry-table>
    </p-card>
  </app-card>
</app-body>

<!-- Delete Ministry Dialog -->
<p-confirmDialog
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptButtonStyleClass="p-button-text p-button-danger"
  defaultFocus="reject"
></p-confirmDialog>
