<p-toast key="error"></p-toast>
<p-toast key="success" (onClose)="goToMinistries()"></p-toast>
<app-header
  [title]="headerTitle()"
  [icon]="headerIcon()"
  [logo]="headerLogo()"
  [buttonVisible]="headerBtnVisible()"
  [buttonIcon]="headerBtnIcon()"
  [buttonLabel]="headerBtnLabel()"
  (buttonAction)="goBack()"
></app-header>
<app-body>
  <app-card [header]="cardHeader()">
    <form
      [formGroup]="editMinistryForm"
      (ngSubmit)="onSubmit(editMinistryForm)"
    >
      <div class="flex justify-content-center">
        <p-card [style]="{ width: '40vw' }">
          <ng-template pTemplate="content">
            <div class="field">
              <label for="ministryName">Ministry Name</label>
              <input
                class="min-w-full"
                type="text"
                pInputText
                id="ministryName"
                name="ministryName"
                formControlName="ministryName"
                placeholder="Enter Ministry Name"
              />
              @if((f['ministryName'].invalid && f['ministryName'].dirty) ||
              (editMinistryForm.invalid && this.submitted() &&
              f['ministryName'].invalid)) {
              <small class="p-error"> Ministry Name is required. </small>
              }
            </div>
            <div class="field">
              <label for="ministryChair">Ministry Chairperson</label>
              @if(onlyMemberChairs$ | async; as onlyMemberChairs) {
              <p-dropdown
                styleClass="min-w-full"
                formControlName="ministryChair"
                inputId="ministryChair"
                [options]="onlyMemberChairs"
                name="ministryChair"
                id="ministryChair"
                optionLabel="fullName"
                optionValue="fullName"
              >
              </p-dropdown>
              }
            </div>
            <div class="field">
              <p-checkbox
                id="ministryIsActive"
                name="ministryIsActive"
                label="Is Active"
                formControlName="ministryIsActive"
                [binary]="true"
                inputId="binary"
              />
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="flex justify-content-around">
              <p-button
                label="Save"
                icon="pi pi-save"
                value="submit"
                type="submit"
                [text]="true"
                severity="success"
              />
              <p-button
                label="Cancel"
                icon="pi pi-times"
                type="button"
                [text]="true"
                severity="warning"
                (onClick)="onCancelEditMinistry()"
              />
            </div>
          </ng-template>
        </p-card>
      </div>
    </form>
  </app-card>
</app-body>
