<p-toast></p-toast>
<app-header
  [title]="headerTitle()"
  [icon]="headerIcon()"
  [logo]="headerLogo()"
  [buttonVisible]="headerBtnVisible()"
  [buttonIcon]="headerBtnIcon()"
  [buttonLabel]="headerBtnLabel()"
  (buttonAction)="goToAddProvider()"
></app-header>
<app-body>
  <app-card>
    <div>
      @if(allProviders$ | async; as allProviders) {

      <p-table
        [value]="allProviders"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        [globalFilterFields]="[
          'providerNameId',
          'providerFullName',
          'providerPhone',
          'providerEmail',
          'providerType'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="providerNameId">
              <div class="flex justify-content-center">
                Provider ID
                <p-sortIcon field="providerNameId"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="providerNameId"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="providerFullName">
              <div class="flex justify-content-center">
                Provider Full Name
                <p-sortIcon field="providerFullName"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="providerFullName"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="providerType">
              <div class="flex justify-content-center">
                Provider Type
                <p-sortIcon field="providerType"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="providerType"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="flex justify-content-center">Email</div>
            </th>
            <th>
              <div class="flex justify-content-center">Phone</div>
            </th>
            <th>
              <div class="flex justify-content-center">Actions</div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-provider>
          <tr>
            <td>
              <div class="flex justify-content-center">
                {{ provider.providerNameId }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center">
                {{ provider.providerFullName }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center">
                {{ provider.providerType }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center">
                {{ provider.providerEmail }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center">
                {{ provider.providerPhone }}
              </div>
            </td>
            <td>
              <div class="flex justify-content-center">
                <div class="flex justify-content-around">
                  <p-button
                    [text]="true"
                    icon="pi pi-info-circle"
                    [text]="true"
                    severity="info"
                    (onClick)="goToProviderDetail(provider.id)"
                    pTooltip="Details"
                    tooltipPosition="bottom"
                  ></p-button>
                  <p-button
                    icon="pi pi-pencil"
                    [text]="true"
                    severity="warning"
                    (onClick)="goToEditProvider(provider.id)"
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    [text]="true"
                    severity="danger"
                    (onClick)="onDeleteProvider(provider.id)"
                    pTooltip="Edit"
                    tooltipPosition="bottom"
                  ></p-button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No data found...</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            Total Items:
            {{ allProviders ? allProviders.length : 0 }}
          </div>
        </ng-template>
      </p-table>
      }
    </div>
  </app-card>
</app-body>

<p-confirmDialog
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptButtonStyleClass="p-button-text p-button-danger"
  defaultFocus="reject"
></p-confirmDialog>
