<div class="flex justify-content-center mt-1">
  <p-toolbar
    styleClass="var(--bluegray-600) shadow-8 py-0"
    [style]="{
    width: '98vw',
    'background-image':
    'linear-gradient(to right, var(--bluegray-500), var(--bluegray-300))',
  }"
  >
    <ng-template pTemplate="start">
      <i class="{{ icon() }} text-white text-xl mr-2"></i>
      <h3 class="text-white text-1xl p-3">{{ title() }}</h3>
    </ng-template>

    @if(!buttonVisible) {
    <ng-template pTemplate="end">
      <img width="75px" height="50px" src="{{ logo() }}" alt=""
    /></ng-template>
    } @if(buttonVisible()) {
    <ng-template pTemplate="end">
      <div class="flex align-items-center">
        <p-button
          [text]="true"
          severity="success"
          [style]="{ color: '#ffffff' }"
          label="{{ buttonLabel() }}"
          icon="{{ buttonIcon() }}"
          (onClick)="headerBtnAction()"
        ></p-button>
      </div>
    </ng-template>
    }
  </p-toolbar>
</div>
